.footer {
  padding: 32px 0px;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url('./images/footer-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
  }
  &__address-icons {
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
  }

  &__address-copyright {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-secondary-dark);
  }

  &__address-info {
    white-space: nowrap;
  }
  @media screen and (min-width: $bp-tablet) {
    &::before,
    &::after {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: 100%;
      bottom: 0;
      z-index: 1;
    }

    &::before {
      width: 180px;
      height: 120px;
      left: 0;
      background-image: url('./images/decor-bread-small.png');
    }

    &::after {
      width: 380px;
      height: 190px;
      right: 0;
      background-image: url('./images/decor-bread-large.png');
    }
  }
}
